{% extends 'extends_common.html' %}
{% load show_number_housan_yuce %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block head_content %}
    <link rel="stylesheet" href="/static/css/number_detail.css">
    <style>
        .content{
            width:1100px;
        }
        .table{
            width: 1100px;
            padding: 4px;
        }
        .good{
            font-family: 微软雅黑;
            color: #c1e2b3;
            background-color: indianred;
        }
        .bad{
            font-family: 微软雅黑;
            color: #000000;
            background-color: mediumspringgreen;
        }
    </style>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    {% endblock %}
</head>
<body>

    {% block main_content %}
    <div class="content">

        <h3> 三星 预测分析 </h3>
        <h3>最后更新时间 : {{ nowtime }}</h3>

        <table border="1" class="table">
        <thead class="thead">
        <tr>
            <td rowspan="2">期号</td>
            <td style="width: 70px">号码</td>

            <td rowspan="2"> 0369 情况</td>
            <td rowspan="2">间隙</td>

            <td rowspan="2"> 5码 情况</td>
            <td rowspan="2">间隙</td>

            <td rowspan="2"> 2星 情况</td>
            <td rowspan="2">间隙</td>

            <td rowspan="2"> 盈利情况</td>
            <td rowspan="2">间隙</td>


            <td rowspan="2">时间</td>

        </tr>
        <tr>
            <td>全部</td>
        </tr>
        </thead>
        <tbody>

            {% for k,v in SSC_NUMBER.items %}
            <tr>
                <td>{% show_qihao k %}</td>
                <td class="num">
                    {% show_number request v %}
                </td>

                {% calc_sanxing_danma request k v %}
                <td class="blank_num"></td>

                {% calc_sanxing_fivema request k v %}
                <td class="blank_num"></td>

                {% calc_erxing request k v %}
                <td class="blank_num"></td>

                {% calc_money request %}
                <td class="blank_num"></td>


                {% check_times k %}

            </tr>
            {% endfor %}

        </tbody>

        <tfoot>
            <tr>
                <td>{{ next_seq }}</td>
                <td> XXXXX </td>
                <td> 0369 </td>
                <td class="blank_num"></td>
                <td> 12345 </td>
                <td class="blank_num"></td>
                <td> 456789 </td>
                <td class="blank_num"></td>
                <td colspan="1"></td>
                <td class="blank_num"></td>
            </tr>
        </tfoot>
    </table>


    <h3>最后更新时间 : {{ nowtime }}</h3>

    </div>
    {% endblock %}

    {% block left_msg %}
        {{ block.super }}
    {% endblock %}

</body>
</html>